* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: red;
    grid-area: na;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color: rgb(25, 0, 255);
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a {
    text-decoration: none;
    color: aqua;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links a:hover {
    color: darkblue;
    background-color: brown;
    transition: ease 0.4s;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    margin-right: 87.5px;
    cursor: pointer;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "he na" "ss ss";
}

header {
    grid-area: he;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_section {
    grid-area: ss;
    background: purple;
}

#img_startsida {
    height: auto;
    width: 100vw;
}

#pieces_wrapper {
    grid-area: ss;
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-areas: "kb kt" "qb qt" "rb rt" "bb bt" "hb ht" "pb pt";
}

#king_bild {
    grid-area: kb;
}

#king_text {
    grid-area: kt;
}

#queen_bild {
    grid-area: qb;
}

#queen_text {
    grid-area: qt;
}

#rook_bild {
    grid-area: rb;
}

#rook_text {
    grid-area: rt;
}

#bishop_bild {
    grid-area: bb;
}

#bishop_text {
    grid-area: bt;
}

#horse_bild {
    grid-area: hb;
}

#horse_text {
    grid-area: ht;
}

#pawn_bild {
    grid-area: pb;
}

#pawn_text {
    grid-area: pt;
}

.pieces {
    background-color: rgb(43, 226, 165);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieces_bilder {
    height: 80%;
    width: auto;
}

#strategier_wrapper {
    grid-area: ss;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 100px 200px 100px 200px;
    grid-template-areas: "op op" "bo to" "mg mg" "bm tm" "eg eg" "be te";
}

#openings {
    grid-area: op;
}

#bild_opening {
    grid-area: bo;
    margin-bottom: 20px;
}

.strategier_bilder {
    height: 100%;
    width: auto;
    margin-bottom: 20px;
}

#text_opening {
    grid-area: to;
    margin-bottom: 20px;
}

#mid_game {
    grid-area: mg;
}

#bild_mid {
    grid-area: bm;
    margin-bottom: 20px;
}

#text_mid {
    grid-area: tm;
    margin-bottom: 20px;
}

#end_game {
    grid-area: eg;
}

#bild_end {
    grid-area: be;
}

#text_end {
    grid-area: te;
}

.strategier {
    background-color: blueviolet;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    #burger {
        display: none;
    }
    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "he" "na" "ss" "ss";
    }
    #nav-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: orange;
        position: absolute;
        top: 100px;
        width: 100vw;
    }
    #img_startsida {
        margin-top: 80px;
        top: 100px;
        width: 99vw;
        height: auto;
    }
    .nav-active {
        transform: none;
    }
    #pieces_wrapper {
        grid-area: ss;
        display: grid;
        width: 100vw;
        margin: 0px;
        margin-top: 80px;
        grid-template-columns: 200px 1fr 200px 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: "kb kt qb qt" "rb rt bb bt" "hb ht pb pt";
    }
    .center_the_pieces_wrapper {
        display: flex;
        justify-content: center;
    }
    #strategier_wrapper {
        grid-area: ss;
        display: grid;
        width: 100vw;
        margin-top: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "op op" "bo to" "mg mg" "bm tm" "eg eg" "be te";
    }
}